################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/2.bat
/1.bat
/.VM_ProjectPreProcessor.cache.txt
